h1{
    text-align: center;
    color: white;
}

body{
    background-color: black;
    /* background-image: url(https://github.com/Mileriss/Canva_imagens/blob/main/Synthwave_Form.png?raw=true); */
    background-image: url(https://wallpapercrafter.com/th800/149940-digital-art-simple-background-palm-trees-synthwave-artwork.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left;
}

/* Fonte utilizada nas Labels */
@font-face{
    font-family: Cyber-Bold;
    src: url(./Fontes/Cyber-Bold.ttf);
}

/* Fonte utilizada na idade */
@font-face{
    font-family: TECHKR__;
    src: url(./Fontes/TECHKR__.TTF);
}

@font-face{
    font-family: digital-7;
    src: url(./Fontes/digital-7.ttf);
}

.flex-container > div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.formulario{
    border: 2px solid white;
    text-align: center;
    margin: auto;
}

.inputs{
    font-family: digital-7;
    font-size: 25PX;
    height: 1.5em;
    width: 10em;
    margin: 5px;
    text-align: justify;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    box-shadow: 0 0 5px whitesmoke;
}
.inputs:hover{
    transition: 0.5s;
    box-shadow: 
    0 0 5px yellow, 
    0 0 10px purple,
    0 0 15px blueviolet;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
}
.inputs:focus{
    box-shadow: 
    0 0 10px purple, 
    0 0 15px blueviolet;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
}

.labels{
    font-size: 20px;
    font-family: Cyber-Bold;
    color: white;
}

#lista-cidade{
    height: 2em;
    width: 10em;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0 5px whitesmoke;
    font-family: digital-7;
}
#lista-cidade:hover{
    transition: 1s;
    box-shadow: 0 0 10px red, 0 0 15px blue;
    cursor: pointer;
    border-radius: 10%;
}
#lista-cidade:focus{
    transition: 1s;
    box-shadow: 0 0 10px red, 0 0 15px blue;
    cursor: pointer;
    border-radius: 10%;
}

.radios{
    cursor: pointer;
}
.label-idade{
    font-size: 50px;
    font-family: TECHKR__;
    color: greenyellow;
    text-shadow: 0 0 15px rgb(19, 255, 19);
}

.info-adicional{
    height: 5em;
    width: 20em;
    font-size: 18px;
    margin: auto;
    box-shadow: 0 0 5px whitesmoke;
}
.info-adicional:hover{
    transition: 0.5s;
    box-shadow: 0 0 10px red, 0 0 15px blue;
}
.info-adicional:focus{
    box-shadow: 0 0 10px red, 0 0 15px blue;
}


.botoes{
    height: 2.5em;
    width: 10em;
    border-top-left-radius: 20%;
    border-left: 5px solid blue;
    border-bottom-right-radius: 20%;
    border-right: 5px solid purple;
    transition: 2s;
    color: black;
    font-weight: bold;
}
.botoes:hover{
    transition: 2s;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(to right, blue,purple);
    border-top: 2px solid blue;
    border-bottom: 2px solid purple;
    text-shadow: 0 0 5px whitesmoke;
    box-shadow: 
    0 0 5px blue,
    0 0 10px purple;
    cursor:pointer;
}